<mat-drawer-container class="mat-drwaer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img src="assets/images/logo/simplecrm_logo.png" alt="" />
      <span>Simple CRM</span>
    </div>

    <ul class="menu">
      <li routerLink="/" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon> Dashboard
      </li>
      <li routerLink="/user" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>User
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon
          mat-icon-button
          class="menu-icon material-icons"
          aria-label="Example icon-button with menu icon"
          type="button"
          mat-button
          fontIcon="menu"
          (click)="drawer.toggle()"
          routerLink=""
        >
        </mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row></mat-toolbar
    >
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
