<div class="component-wrapper">
    <mat-card>
        <h1>Reset Password</h1>
        <p class="text-center">
            Please enter your email address to request a password reset.
        </p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" class="width-25vw" placeholder="Email Address" #passwordResetEmail required matInput />
        </mat-form-field>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
            <button mat-raised-button color="login-button" type="submit" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        Reset
      </button>
        </div>
        <div class="redirectToLogin">
            <a class="redirect" routerLink="/sign-in">Go back to Log In</a>
        </div>
    </mat-card>
</div>