<h1 mat-dialog-title>Add User</h1>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<ol>
  <div class="add-user-dialog">
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>First Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.firstName" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.lastName" matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>Email Adress</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.email" matInput />
    </mat-form-field>
  </div>
  <div class="dialog-buttons">
    <button
      [disabled]="loading"
      (click)="saveUser()"
      class="mr-16"
      mat-raised-button
    >
      Save
    </button>
    <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
  </div>
</ol>
