<div class="logo-container">
  <img src="assets/images/logo/simplecrm_logo.png" alt="" />
  <span>Simple CRM</span>
</div>

<ul class="menu">
  <li routerLink="dashboard" routerLinkActive="router-link-active">
    <mat-icon>fact_check</mat-icon> Dashboard
  </li>
  <li
    routerLink="['user', { outlets: { loggedInUser } }]"
    routerLinkActive="router-link-active"
  >
    <mat-icon>perm_identity</mat-icon>User
  </li>
  <li routerLink="login" routerLinkActive="router-link-active" class="mt-32">
    <mat-icon>logout</mat-icon>Logout
  </li>
</ul>
