/* You can add global styles to this file, and also import other style files */
@import url("fonts-icons.scss");

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mr-16 {
  margin-right: 16px !important;
}

.full-width {
  width: 100% !important;
}
